*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 80px 80px 0 80px;
}

nav a{
    margin: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: 'Asap';
}

.section1{
    display: flex;
    align-items: center;
    padding: 80px;
}

.section1 h2{
    font-size: 65px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    bottom: 80px;
}

.section1 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    bottom:40px;
}

.section1 button{
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Asap';
    background-color:#2e4f7e;
    border-radius: 100px;
    border: 0;
    width: 200px;
    height: 55px;
    color: white;
    border: 0;
    position: relative;
    top:50px;
}

.section1 button:hover, .section3 button:hover, .section4 button:hover, .section10 button:hover, .footerflex1 button:hover{
    background-color: skyblue;
}

.section2{
    display: flex;
    justify-content: space-between;
    padding: 120px;
    align-items: center;
}

.section2 h2{
    font-size: 42px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    bottom: 5px;
}

.section2 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top:25px;
}

.section2grid{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
    position: relative;
    top: 95px;
}

.section2grid span{
    font-size: 20px;
    font-weight: 800;
}

.section3{
    display:flex;
    justify-content: space-between;
    padding: 100px;
}

.section3 h2{
    font-size: 45px;
    line-height: 1.2em;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    top:73px;
}

.section3 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top:150px;
}

.section3 button{
    font-size: 18px;
    line-height: 1.5;
    cursor: pointer;
    font-family: 'Asap';
    border-radius: 100px;
    border: 0;
    width: 178px;
    height: 55px;
    background-color:#2e4f7e;
    color: white;
    font-weight: 600;
    word-spacing: 5px;
    position: relative;
    top:190px;
}

.section4{
    text-align: center;
}

.color{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 500px;
    position: relative;
    left: 544px;
    top:55px;
}

.color2{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 530px;
    position: relative;
    left: 527px;
    top: 125px;
}

.color3{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 275px;
    position: relative;
    bottom: 35px;
}

.color4{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 270px;
    position: relative;
    top: 240px;
}

.color5{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 400px;
    position: relative;
    left: 510px;
    top: 173px;
}

.color6{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 200px;
    position: relative;
    top: 109px;
}

.color7{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 300px;
    position: relative;
    left:560px;
    top:330px;
}

.color8{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 460px;
    position: relative;
    left:550px;
    top:450px;
}

.color9{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 275px;
    position: relative;
    left: 650px;
    top:210px;
}

.color10{
    border: 1px solid #2e4f7e;
    background: linear-gradient(#b6cceb,white);
    height: 10px;
    border:0;
    width: 220px;
    position: relative;
    left: 600px;
    top:15px;
}


.section4 h2{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Asap';
    margin-bottom: 120px;
    position: relative;
    top: 20px;
}

.section4 span{
    padding: 0 0.75em;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Asap';
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
}

.section4 a{
    padding: 0 0.75em;
    font-size: 22px;
    text-transform: capitalize;
    font-family: 'Asap';
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 50px;
    position: relative;
    bottom: 20px;
}


.section4grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 78px;
    margin-bottom: 100px;
}

.section4grid img{
    border-radius:10px;
}

.section4 button{
    border-radius: 200px;
    border: 0;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    margin-bottom: 50px;
    position: relative;
    bottom: 130px;
    cursor: pointer;
}

.section5{
    display: flex;
    justify-content: space-between;
    padding: 100px 80px 0 80px;
}

.section5 h2{
    font-size: 50px;
    font-family: 'Asap';
    font-weight: 700;
    position: relative;
    top:200px;
}

.section5 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top: 225px;
}

.section5 ul{
    margin-left:20px;
    position: relative;
    top: 240px;
    line-height: 30px;
}

.section5 img{
    position: relative;
    right: 60px;
}

.section6{
    padding: 100px 80px 0 80px;
    margin-bottom: 200px;
}

.section6 h2{
    text-align: center;
    font-size: 50px;
    line-height: 1;
    font-family: 'Asap';
    font-weight: 700;
    margin-top: 200px;
    position: relative;
    bottom: 60px;
}

.section6grid{
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(2,1fr);
    row-gap: 100px;
    column-gap: 35px;
    margin-top: 50px;
    position: relative;
    left: 230px;
}

.section6 span{
    font-size:22px;
    font-weight: 700;
    padding-left: 25px;
    line-height: 1.5;
}

.section6 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
}

.section7{
    display: flex;
    justify-content: space-between;
    padding: 100px 80px 0 80px;
}

.section7 h2{
    font-size: 50px;
    line-height:1.2em;
    font-family: 'Asap';
    font-weight: 900;
    position: relative;
    top: 75px;
}

.section7 p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top: 100px;
}

.section7 img{
    position: relative;
    right: 20px;
}

.section7flex{
    display: flex;
    border-radius: 100px;
    border: 0;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 150px;
    width: 530px;
    height: 130px;
    padding-right: 50px;
    background-color: #e2f4ff;
    position: relative;
    left: 40px;
}

.section7flex h6{
    font-size:40px;
    font-weight: 800;
    line-height: 1;
    font-family: 'Asap';
    position: relative;
    left: 10px;
}

.section7flexp{
    font-size: 20px;
    letter-spacing: .2px;
    font-weight:400;
    line-height: 2.5;
    font-family: 'Asap';
}

.section8{
    text-align: center;
    padding: 100px 80px 0 80px;
}

.section8 h2{
    font-size: 50px;
    line-height: 1;
    font-family: 'Asap';
    font-weight: 900;
    position: relative;
    top: 300px;
}

.section8flex{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-top: 400px;
}

.section8flex h4{
    font-size: 25px;
    letter-spacing: .2px;
    font-family: 'Asap';
    line-height: 1.15;
}

.section8flex h5{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    font-family: 'Asap';
    line-height: 1.4;
}

.section9flex{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-bottom: 200px;
}

.section9 h2{
    text-align: center;
    margin-bottom: 430px;
    font-size: 50px;
    line-height: 1;
    font-family: 'Asap';
    font-weight: 900;
    letter-spacing: 0;
    position: relative;
    top: 420px;
}

.section9flex h4{
    font-size: 22px;
    font-weight: 900;
    font-family: 'Asap';
    line-height: 1.15;
    letter-spacing: 0;
    text-align: left;
    position: relative;
    left: 150px;
    bottom: 60px;
}

.section9flex h5{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Asap';
    line-height: 1.4;
    text-align: left;
    position: relative;
    left: 150px;
    bottom: 55px;
}

.section9flex p{
    font-size: 20px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    bottom: 20px;
} 

.section9flex img{
    position: relative;
    left: 65px;
    top: 100px;
}

.section9flexitems{
    border: 2px solid black;
    border: 0;
    padding: 80px 150px 80px 80px;
    background-color:#dcf4f8;
    border-radius: 0 160px 160px 160px;
}

.section10 h2{
    text-align: center;
    margin-bottom: 350px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    font-family: 'Asap';
    letter-spacing: 0;
    position: relative;
    top: 180px;
}

.section10 span{
    font-size: 22px;
    text-transform: capitalize;
    cursor: pointer;
    line-height: 1.5;
    font-family: 'Asap';
    font-weight: 400;
    color: #000;
    padding: 15px;
    position: relative;
    left:350px;
    bottom: 80px;
}

.section10 a{
    position: relative;
    left:390px;
    bottom: 80px;
    padding: 50px;
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
    cursor: pointer;
    line-height: 1.5;
    font-family: 'Asap';
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.section10grid{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    padding:80px;
    margin-bottom: 100px;
}

.section10grid img{
    border-radius: 10px;
}

.section10 button{
    border-radius: 200px;
    border: 0;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    margin-bottom: 50px;
    position: relative;
    left: 695px;
    bottom: 128px;
    cursor: pointer;
}

.section11{
    padding: 100px 80px 120px 80px;
}

.section11 h2{
    font-size: 50px;
    line-height: 1;
    font-family: 'Asap';
    font-weight: 700;
    text-align: center;
    position: relative;
    bottom:15px;
}

.section11flex{
    display: flex;
    justify-content: space-between;
}

.section11flex1{
    margin-bottom: 100px;
    margin-top: 140px;
}

.section11flex1 button{
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    font-family: 'Asap';
    background-color:#2e4f7e;
    border-radius: 100px;
    border: 0;
    width: 200px;
    height: 65px;
    color: #fff;
    border: 0;
    position: relative;
    top:50px;
}

.section11flex2{
    border: 2px solid #dcf4f8;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    width: 500px;
    height: 500px;
    position: relative;
    top: 150px;
    right: 90px;
    padding: 0 0 70px 40px;
}

.section11flex2 span{
    font-family: "Raleway",arial,sans-serif;
    font-size: .9375em;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 600;
    text-align: center;
    position: relative;
    bottom: 80px;
    left: 10px;
}

.section11flex2 p{
    font-family: 'Asap';
    font-size: 100%;
    line-height: 1.5;
    position: relative;
    left: 122px;
    bottom: 60px;
}
.smallinput{
    border: 0;
    border-radius:40px;
    font-size: 100%;
    width: 500px;
    padding:20px 140px 17px 30px;
    margin-bottom: 25px;
    background-color:#dcf4f8;
}

.biginput{
    border: 0;
    border-radius: 25px;
    font-size: 100%;
    width: 500px;
    padding:20px 140px 150px 30px;
    background-color: #dcf4f8;
}

.footerflex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 90px;
    background-color:#b6e0fa;
}

.footerflex1 h2{
    font-size: 55px;
    font-weight: 600;
    font-family: 'Asap';
    position: relative;
    bottom: 210px;
    right: 150px;
}

.footerflex1 button{
    border-radius: 200px;
    border: 0;
    height: 55px;
    width: 180px;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Asap';
    letter-spacing: 1px;
    color: white;
    background-color: #2e4f7e;
    position: relative;
    bottom: 100px;
    right: 140px;
    cursor: pointer;
}

.element{
    margin-bottom: 100px;
    position: relative;
    right: 200px;
}
.footerflex2{
    display: flex;
    justify-content: space-between;
    background-color: #2e4f7e;
    padding:70px;
    height: 130px;
}

.footerflex2 a{
    text-decoration: none;
    color: white;
    margin: 25px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    top:11px;
    right: 40px;
}

.iconborder{
    background-color:#133e7a;
    border-radius: 200px;
    border: 0;
    height: 55px;
    width: 180px;
    position: relative;
    top: 70px;
    left: 115px;
}

.footerflex2 p{
    color: white;
    font-size: 16px;
    font-family: 'Asap';
    line-height: 1.5;
    position: relative;
    top: 8px;
}

.footerbottom{
    height: 60px;
    text-align: center;
    background-color: #133e7a;
    font-size: 16px;
    line-height: 1.5;
    padding: 23px;
    color: white;
}